@import 'reset.css';
html {
    --tbl-brd-clr: #ccc;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 30%;
    border-bottom: solid 2px #ccc;
    margin-bottom: 20px;
    font-size: 20px;
}
nav a, nav a:visited, nav a:active, nav a:hover {
    text-decoration: none;
    padding: 10px;
    color: #555;
}
nav a.selected {
    background: #000 !important;
    color: #fff !important;
}

table tr th,
table tr td {
    border-left: solid 1px var(--tbl-brd-clr);
    border-top: solid 1px var(--tbl-brd-clr);
    padding: 2px 5px;
}
table tr th:last-child,
table tr td:last-child {
    border-right: solid 1px var(--tbl-brd-clr);

}
table tr:last-child td {
    border-bottom: solid 1px var(--tbl-brd-clr);
}